html {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}
img#background {
    position: absolute;
    top: 70px;
    left: 500px;
    height: 600px;
    width: 600px;
}
img#mole {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
img#confuse_mole_1 {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
img#confuse_mole_2 {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
img#confuse_mole_3 {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
img#star {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
audio#hammer_hit_sound {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}audio#background_music {
     position: absolute;
     top: 0;
     left: 0;
     display: block;
 }
canvas#game_board {
    position: absolute;
    top: 70px;
    left: 500px;
    box-sizing: border-box;
    border: 1px solid black;
    cursor: url("images/hammer_1.png") 64 64, auto;
}
div#control {
    position: absolute;
    top: 10px;
    left: 740px;
    text-align: center;
    border: 1px solid black;
    background-color: darkgoldenrod;
    padding: 10px;
}
div#score_board {
    position: absolute;
    top: 70px;
    left: 1150px;
    text-align: center;
    border: 1px solid black;
    background-color: lightblue;
    padding: 0 20px 20px 20px;
}
button {
    border-radius: 20%;
}