* {
    margin: 0;
    padding: 0;
}
td {
    box-sizing: border-box;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 20px;
    height: 20px;
}
input {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
}
h3 {
	display: inline;
	position: absolute;
	left: 40%;
}
button {
	position: absolute;
	left: 48%;
	width: 100px;
}
