* {
    margin: 0;
    padding: 0;
}
table {
    position: absolute;
    top: 50px;
    left: 500px;
    border-spacing: 0;
}
td {
    box-sizing: content-box;
    border: 1px black solid;
    width: 27px;
    height: 27px;
}
input {
    box-sizing: border-box;
    border-width: 0;
    width: 27px;
    height: 27px;
}
h3 {
    display: inline;
    position: absolute;
    top: 20px;
    left: 680px;
}
button {
    position: absolute;
    top: 20px;
    left: 770px;
    width: 100px;
}
